body {
	font-family: Helvetica;
	margin: 20px;
	padding:15px;
}

h2 {
font-size: 1.5em;
}

.icon {
	font-family: "FontAwesome";
}

.main {
	text-align: center;	
}

.main .mainimage {
	width: 500px;
	height: 450px;
	margin: 20px;
	padding: 6px;
	border: 1px solid;
	border-radius: 0px;
	border-color: #191919;
}

#portfolio-feed {
	clear: both;
	}

li.photo {
	float: left;
}

img {	
	margin: 20px;
	padding: 6px;
	border: 1px solid;
	border-radius: 0px;
	border-color: #191919;
	position: relative;
	width: 225px;
	height: 200px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	top: 0px;
	left: 0px;
}

div.name {
	text-align: center;
	line-height: 25px;
	bottom: 2px;
	position: relative;
} 



